<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Form</title>
</head>
<body>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">

First Name <input type="text" th:field="*{firstName}"/>

<br>
Last Name <input type="text" th:field="*{lastName}"/>


    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
    </select>
    <br>
    Favorite Programe Language:
    <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLang : ${languages}" th:value="${tempLang}" th:text="${tempLang}"/>

    <br>
    Favorite OS:
    <input type="checkbox" th:field="*{favoriteSystems}" th:each="tempSystem : ${systems}"
                                                         th:value="${tempSystem}"
                                                         th:text="${tempSystem}"/>

    <input type="submit" value="Submit"/>
</form>


</body>
</html>