<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation Form</title>
</head>
<body>

The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>
<br>
Country: <span th:text="${student.country}"/>

<br>

Favorite Language: <span th:text="${student.favoriteLanguage}"/>
<br>

Favorite OS:

<ul>
    <li th:each="tempSystem : ${student.favoriteSystems}" th:text="${tempSystem}"/>
</ul>

</body>
</html>